* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    color: hsl(120, 100%, 75%);
    /* text-shadow: var(--text-glow); */
    --text-glow: hsl(120, 100%, 50%) 0px 0px 10px;
    --settings-card-bg: #ffffff;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color:rgb(91, 148, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.screen {
    box-sizing: content-box;
    background-color: #000;
    border: 10px solid black;
    padding: 9px 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 0px;
    grid-template-rows: 0px auto;
} 

.settings-container {
    grid-column: 2;
    grid-row: 1;
    z-index: 20;
    height: 35px;
    display: flex;
    justify-content: right;
    align-items: top;
}

.hide-settings {
    visibility: hidden;
}

.settings-menu {
    font-size: large;
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000AA;
}

.settings-menu-card {
    z-index: 50;
    width: 350px;
    height: 350px;
    background-color: var(--settings-card-bg);
    border-radius: 10px;
    padding: 30px;
}

.settings-header {
    text-align: center;
}

.setting-line-break {
    height: 2px;
    width: 80%;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.settings {
    margin-bottom: 14px;
}

.setting-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    height: 20px;
}

.setting-label, .settings-header, .settings-menu-btn-text, .makersmark {
    font-size: large;
    color: #000;
    text-shadow: none;
}

.setting-toggle {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.toggle-outer {
    height: 21px;
    width: 35px;
    border-radius: 6px;
    display:flex;
    align-items: center;
    background-color: #1ba122;
}

#fullscreen-setting-toggle {
    background-color: rgb(254, 91, 37);
    padding-left: 2px;
}
#typeanimations-setting-toggle {
    background-color: rgb(27, 161, 34);
    padding-left: 15px;
}
#textglow-setting-toggle {
    background-color: rgb(27, 161, 34);
    padding-left: 15px;
}

.toggle-inner {
    pointer-events: none;
    height: 17px;
    width: 18px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative;
    left: 0px;
}

.settings-menu-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.settings-menu-btn-text {
    border-radius: 4px;
    padding: 10px;
    background-color: #999;
}

.makersmark {
    text-align: center;
    margin: 15px 0;
}

.settings-btn {
    text-decoration: none;
    font-size:larger;
    padding: 20px 18px;
}

.settings-btn-text {
    /* background-color: #000; */
    margin: auto;
}

.gametext-container {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height:100%;
    padding: px;
    display: flex;
    overflow-y: hidden;
    padding: 20px 18px;
}

.text-box {
    display: grid;
    grid-template-rows: auto 35px;
    align-items: end;
    width:100%;
    overflow: hidden;
}

.text-log {
    grid-row: 1;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    vertical-align: bottom;
    overflow-y: scroll;
    scrollbar-width: none;
}

.text-log::-webkit-scrollbar {
    display: none;
  }

.text-form {
    grid-row: 2;
}

.player-input {
    width: 100%;
    padding: 0px 181_________px 15px 18px;
    background-color: #00000000;
    resize: none;
    border: none;
    caret-color: green;
}

.player-input:focus {
    outline: green;
}

.foreground {
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.monitor {
    box-sizing: unset;
    height: 60vmin;
    width: 80vmin;
    border-top: 40px solid hsl(60, 27%, 60%) /*#ffffff22*/;
    border-right: 40px solid hsl(60, 27%, 66%) /*#ffffff44*/;
    border-bottom: 40px solid hsl(60, 27%, 69%) /*#ffffffaa*/;
    border-left: 40px solid hsl(60, 27%, 63%) /*#ffffffbb*/;
}

.monitor-inner-bezel { 
    height: 100%;
    width: 100%;
    border-top: 10px solid #000000bb;
    border-right: 10px solid #00000033;
    border-bottom: 10px solid #ffffff05;
    border-left: 10px solid #00000077;
}

